@using AkdTimerGV.Components.Models

@if (Lobby != null) {
    <div class="d-flex flex-row">
        @foreach (Team Team in Lobby.GetParticipatingTeams().Where(Team => Team.RaceCategory != null)) {
            <div class="d-flex flex-column" style="@(Lobby.GetParticipatingTeams().IndexOf(Team) > 0 ? "margin-left: 10px; padding-left: 10px; border-left: 1px solid var(--bs-border-color)" : "")">
                <span style="text-align:center">@Team.Name</span>
                <hr />
                <div class="d-flex flex-row">
                    <span style="width: 50px; text-align: start">Ch.</span>
                    <span style="width: 150px; text-align: center">Completion Time</span>
                    <span style="width: 80px; text-align: end">Duration</span>
                </div>
                @foreach (RaceSplit split in Team.RaceCategory.Splits) {
                    <div class="d-flex flex-row">
                        <span style="width: 50px; text-align: start">@split.Chapter</span>
                        <span style="width: 150px; text-align: center">@TimeUtil.getTimeAsStringWithZeros(split.SplitTimestamp)</span>
                        <span style="width: 80px; text-align: end">@TimeUtil.getTimeAsString(split.SplitDuration, true)</span>
                    </div>
                    <br />
                }
            </div>
        }
    </div>
}

@code {

    [Parameter]
    public Lobby Lobby { get; set; }

}
