<div style="padding: 5px;">
    <h4><a href="@entry.reference">@entry.name</a></h4>
    @if (entry.credit != null) {
        <span>Credit: @entry.credit <br /></span>
    }
    @((MarkupString)entry.description) <br />
    <div style="font-size:12px; color: lightgray; margin-top: 5px; text-align:right" class="tags">
        @foreach (String tag in entry.tags) {
            @if (entry.tags.IndexOf(tag) == 0) {
                @tag
            } else {
                <span>, @tag</span>
            }
        }
    </div>
</div>

@code {
    [Parameter]
    public CategoryEntry entry { get; set; }

}
