@page "/link/draft/process/{ConfigId}"
@using AkdTimerGV.Components.Models
@using AkdTimerGV.Components.Custom
@using AkdTimerGV.Components.Layout
@using AkdTimerGV.Components.Draft
@using static AkdTimerGV.Components.Custom.OBSLinkPanel

@*
    This rendermode is needed to enable using OnAfterRenderAsync
*@
@rendermode InteractiveServer

@*
    Since this is intended to be the page which is used for OBS Browser capture, 
    just use an empty layout without clutter to avoid cropping
*@
@layout EmptyLayout

@if (DraftStateHolder != null) {
    @if (DraftFlowState.ENTER_PARTICIPANTS == DraftStateHolder.GetDraftState().FlowState) {
        <!-- Start , If using the non-timer version, must manually enter the participants.-->
        <h1>Waiting for Participants to be confirmed...</h1>
    } else if (DraftFlowState.INITIALIZE_DRAFT_ORDER == DraftStateHolder.GetDraftState().FlowState) {
        <h1>Waiting for Draft Order to be randomized...</h1>
    } else if (DraftFlowState.ORDER_RANDOMIZED == DraftStateHolder.GetDraftState().FlowState) {
        <!-- Second State, Draft Order has been rolled, Display it and allow them to re-roll or continue.-->
        @for (int i = 0; i < DraftStateHolder.GetDraftState().RandomizedDraftOrder.Count(); i++) {
            <h2>@(i + 1 + " - " + DraftStateHolder.GetDraftState().RandomizedDraftOrder[i])</h2>
        }
    } else if (DraftFlowState.CHOOSE_GAME == DraftStateHolder.GetDraftState().FlowState) {
        <h1>Waiting for Game Selection...</h1>
    } else if (DraftFlowState.DRAFTING_STARTED == DraftStateHolder.GetDraftState().FlowState) {

        @if (DraftStateHolder.GetDraftState().AuctionMode) {
            <div class="d-flex flex-column" style="justify-content:center; text-align:center">
                <h2>Nomination</h2>
                <div id="CurrentNomination">
                    <Dropzone class="NominationPedastal" Items="DraftStateHolder.GetDraftState().Nomination.Characters" TItem="DraftCharacter">
                        <ChildContent>
                            <div class="draft-character-image-nomination" style="background-image:url('@context.ImagePath')" />
                        </ChildContent>
                    </Dropzone>
                </div>

            </div>
        }

        <!-- Table containing the Auto generated Draft Tiers -->
        <div id="DraftTierList" style="background-color: #1A1A1A;">
            <table>
                @foreach (DraftGrouping draftGrouping in new List<DraftGrouping>(DraftStateHolder.GetDraftState().DraftGroupings.Values)) {
                    <tr class="flex-container" style="border: 3px solid black;">
                        <td class="draft-label-holder" style="width:10%; background-color: @draftGrouping.Color;">
                            <textarea style="border:none; background-color: @draftGrouping.Color;; text-align: center; width: 200px; resize:none;" disabled="@draftGrouping.IsPlayer" @bind="draftGrouping.Name" />
                        </td>

                        <td style="width: 650px; height: 64px;">
                            <Dropzone Items="draftGrouping.Characters" TItem="DraftCharacter" Class="plk-dd-dropzone-draft-table">
                                <ChildContent>
                                    <div class="@(DraftStateHolder.GetDraftState().AuctionMode && draftGrouping.IsPlayer ? "draft-character-image-auction" : "draft-character-image")">
                                        @if (DraftStateHolder.GetDraftState().AuctionMode && draftGrouping.IsPlayer)
                                        {
                                            <input @bind="@context.AuctionCost" @bind:after="(() => draftGrouping.RecalculateAuctionCost())" style="background-color: transparent; border-color:transparent; font-weight:bold" />
                                        }
                                        <div class="draft-character-image" style="background-image:url('@context.ImagePath') !important;" />
                                    </div>
                                </ChildContent>
                            </Dropzone>
                        </td>
                        <td style="width: 64px;">
                            @if (draftGrouping.IsPlayer && DraftStateHolder.GetDraftState().AuctionMode) {
                                <div class="d-flex flex-column" style="font-weight:bold; max-width:64px;">
                                    @draftGrouping.RemainingAuctionCurrency
                                </div>
                            }
                        </td>
                    </tr>
                }
            </table>
        </div>
    } else {
        <h1>Drafting Finished!</h1>
    }
}

@code {
    [Parameter]
    public String ConfigId { get; set; }

    private IDraftStateHolder DraftStateHolder;

    protected override async Task OnAfterRenderAsync(bool firstRender) {
        if (!firstRender) {
            return;
        }

        OBSDraftProcessConfiguration configuration = (OBSDraftProcessConfiguration) LinkConfigurationHolder.Instance.GetConfiguration(Guid.Parse(ConfigId));

        DraftStateHolder = LobbyHolder.Instance.getLobby(configuration.DraftId);
        if (DraftStateHolder == null) {
            DraftStateHolder = DraftLobbyHolder.Instance.GetById(configuration.DraftId);
        }
        DraftStateHolder.GetDraftState().OnStateChange += (() => NotifyStateHasChanged());
        StateHasChanged();
    }

    private void NotifyStateHasChanged() {
        InvokeAsync(() => StateHasChanged());
    }
}
