@using AkdTimerGV.Components.Models

<style>
    .teamTimerContainer {
        border: 1px solid black;
        min-width: 320px;
        height: 168px;
        display:flex;
        flex-direction:column;
        justify-content:space-between;
        text-align:center;
        margin: 5px;
        padding: 5px;
    }

    .teamTimerTeamName {
        width: 100%;
        font-size: 20pt;
        line-height: 20pt;
    }

    .teamTimerMainTimer {
        width: 100%;
        line-height: 50pt;
        font-size: 50pt;
    }

    .teamTimerSubtimers {
        width: 100%;
        display:flex;
        flex-direction: row;
        justify-content:space-evenly;
    }

    .teamTimerSubtimers div {
        margin: 0px 5px 0px 5px;
    }

</style>

<div id="teamTimer-@Team.Name" class="teamTimerContainer fw-bold" style="margin:@(NoMargin ? "0px" : "5px")">
    <h5>
        <span class="teamTimerTeamName">@Team.Name</span>
        <span>
            <TeamTimerStatusIndicator Team="Team"/>
        </span>
    </h5>

    <div class="teamTimerMainTimer">
        @if (Team.TimerData.dnf) {
            <span>DNF</span>
        } else {
            @getTimeValueAsString(Team.TimerData.GetElapsedActiveTime())
        }
    </div>
    <div class="teamTimerSubtimers">
        @if (Team.TimerData.PenaltyTime > 0 || Team.TimerData.BreakTime > 0 || Team.TimerData.PreviousTime > 0 || Team.TimerData.dnf) {
                <div class="teamTimerTotalTime">
                    @if (!Team.TimerData.Active) {
                        <i class="bi bi-stopwatch"/>     @getTimeValueAsString(Team.TimerData.GetTotalTime())
                    } else {
                        <i class="bi bi-stopwatch"/>   <span>+</span>@getTimeValueAsString(Team.TimerData.GetExtraTime())
                    }
                </div>
                <div class="teamTimerTotalTime">
                    <i class="bi bi-cup-hot" style="color:lightgreen"/>  @getTimeValueAsString(Team.TimerData.GetRemainingExtraTime())
                </div>
                @if (Team.TimerData.PenaltyTime > 0) {
                    <div class="teamTimerTotalTime">
                        <i class="bi bi-clipboard-plus" style="color:red"/>  @getTimeValueAsString(Team.TimerData.PenaltyTime)
                    </div>
                }

                @if (Team.TimerData.PreviousTime > 0) {
                    <div class="teamTimerPreviousTime">
                        <i class="bi bi-calendar2-event" style="color:lightblue"/>  @getTimeValueAsString(Team.TimerData.PreviousTime)
                    </div>
                }
        }
    </div>
</div>


@code {
    [Parameter]
    public Team Team { get; set; }

    [Parameter]
    public bool NoMargin { get; set; }

    protected string getTimeValueAsString(long value) {
        return TimeUtil.getTimeAsString(value);
    }
}
