@using AkdTimerGV.Components.Models
@using AkdTimerGV.Components.Draft

<style>
    .teamTimerContainer {
        border: 1px solid black;
        min-width: 325px;
        min-height: 180px;
        display:flex;
        flex-direction:column;
        justify-content:space-between;
        text-align:center;
        margin: 5px;
        padding: 5px;
        background-color: #212528;
    }

    .teamTimerTeamName {
        width: 100%;
        font-size: 20pt;
        line-height: 20pt;
    }

    .teamTimerMainTimer {
        width: 100%;
        line-height: 50pt;
        font-size: 50pt;
    }

    .teamTimerSubtimers {
        width: 100%;
        display:flex;
        flex-direction: row;
        justify-content:space-evenly;
    }

    .teamTimerSubtimers div {
        margin: 0px 5px 0px 5px;
    }

    .moveTimerLeft {
        display: none !important;
    }

    .teamTimerContainer:hover .moveTimerLeft {
        display:inline-block !important;
    }

</style>

<div id="teamTimer-@Team.Name" class="teamTimerContainer fw-bold" style="margin:@(NoMargin ? "0px" : "5px");">
    <h5>
        <i class="bi bi-arrow-left-circle moveTimerLeft" onclick="@(() => moveLeft())" />
        <span class="teamTimerTeamName">@Team.Name</span>
        <span>
            <TeamTimerStatusIndicator Team="Team"/>
        </span>
        <i class="bi bi-arrow-right-circle moveTimerLeft" onclick="@(() => moveRight())" />
    </h5>

    <div class="teamTimerMainTimer">
        @if (Team.TimerData.dnf) {
            <span>DNF</span>
        } else {
            @if (!Team.TimerData.Active && !Team.TimerData.Paused && Team.TimerData.FinishTime == null) {
                @if (Team.TimerData.Ready) {
                    <span>Ready</span>
                }
                else {
                    <span style="font-size:35pt">Not Ready</span>
                }
            }
            else {
                @getTimeValueAsString(Team.TimerData.GetElapsedActiveTime())
            }
        }
    </div>
    <div class="teamTimerSubtimers">
        @if (Team.TimerData.PenaltyTime > 0 || Team.TimerData.BreakTime > 0 || Team.TimerData.PreviousTime > 0 || Team.TimerData.dnf) {
                <div class="teamTimerTotalTime">
                    @if (!Team.TimerData.Active) {
                        <i class="bi bi-stopwatch"/>     @getTimeValueAsString(Team.TimerData.GetSubmittedTime())
                    } else {
                        <i class="bi bi-stopwatch"/>   <span>+</span>@getTimeValueAsString(Team.TimerData.GetExtraTime())
                    }
                </div>
                <div class="teamTimerTotalTime">
                    <i class="bi bi-cup-hot" style="color:lightgreen"/>  @getTimeValueAsString(Team.TimerData.GetRemainingExtraTime())
                </div>
                @if (Team.TimerData.PenaltyTime > 0) {
                    <div class="teamTimerTotalTime">
                        <i class="bi bi-clipboard-plus" style="color:red"/>  @getTimeValueAsString(Team.TimerData.PenaltyTime)
                    </div>
                }

                @if (Team.TimerData.PreviousTime > 0) {
                    <div class="teamTimerPreviousTime">
                        <i class="bi bi-calendar2-event" style="color:lightblue"/>  @getTimeValueAsString(Team.TimerData.PreviousTime)
                    </div>
                }
        }
    </div>
    @if (Team.TimerData.DraftedCharacters.Count >= 1 && DisplayDraft) {
        <div class="" style="max-width: 320px">
            @foreach (DraftCharacter character in Team.TimerData.DraftedCharacters) {
                <div class="draft-character-image-small" style="background-image:url('@character.ImagePath') !important;float:left" />
            }
        </div>
    }
</div>


@code {

    [Parameter]
    public Team Team { get; set; }

    [Parameter]
    public List<Team> AllTeams { get; set; } = [];

    [Parameter]
    public bool NoMargin { get; set; }

    [Parameter]
    public bool DisplayDraft { get; set; }

    protected string getTimeValueAsString(long value) {
        return TimeUtil.getTimeAsString(value);
    }

    protected void moveLeft() {
        int currentPosition = AllTeams.IndexOf(Team);
        if (currentPosition == 0) {
            return;
        }
        Team temp = AllTeams[currentPosition - 1];
        AllTeams[currentPosition - 1] = AllTeams[currentPosition];
        AllTeams[currentPosition] = temp;
    }

    protected void moveRight() {
        int currentPosition = AllTeams.IndexOf(Team);
        if (currentPosition == AllTeams.Count() - 1) {
            return;
        }

        Team temp = AllTeams[currentPosition + 1];
        AllTeams[currentPosition + 1] = AllTeams[currentPosition];
        AllTeams[currentPosition] = temp;
    }

}
