@page "/timer/lobby"
@rendermode InteractiveServer
<PageTitle>Lobby</PageTitle>
@using AkdTimerGV.Components.Models
@using AkdTimerGV.Components.Custom
@using AkdTimerGV.Components.Draft
@using Microsoft.AspNetCore.Components.Server.Circuits
@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage
@using System.Timers
@using static AkdTimerGV.Components.Custom.TeamList
@using static AkdTimerGV.Components.Custom.OBSLinkPanel
@inject ProtectedLocalStorage BrowserStorage;
@inject NavigationManager NavigationManager;
@inject ILogger<Home> Logger
@inject IJSRuntime JSRuntime
@implements IDisposable

<style>
    .TeamTimersPanel {
        @* At minimum 168 px as the timers are 168 incl. border*@
        min-height: 168px;
    }
</style>

<div class="d-flex flex-column">
    @if (Lobby != null && currentUser != null) {
        <h1>
            <label style="float: left;">@Lobby.Description</label>
            <input type="button" class="btn btn-warning btn-lg" style="float:right;" onclick="@leaveLobby" value="Leave lobby"/>
        </h1>
        <h6>
            <span><label style="float: left;">CurrentLobbyId: @Lobby.LobbyId</label><input type="button" style="margin-left: 10px" value="Invite Link" onclick="@(() => GenerateInviteLink())"/></span>
        </h6>
        <hr />
        <div class="flex-row d-flex justify-content-evenly w-100">
            <div id="TeamTimersPanel" class="TeamTimersPanel" style="max-width: 800px; display:block">
                @if (Lobby.StartingPistolValue == 0) {
                    @* Panel showing the actual timers *@
                    @foreach (var team in GetTimersToDisplay()) {
                        <div style="float:left">
                            <TeamTimer Team="team" AllTeams="TimerReferences" DisplayDraft="@DisplayDraft"/>
                        </div>
                    }
                } else {
                    <b style="font-size:100pt">@(String.Format("{0:0.##}", Lobby.StartingPistolValue))</b>
                }
            </div>
            <div>
                <TeamTimerTable Lobby="@Lobby"/>
                <span>Display draft: <input type="checkbox" @bind="DisplayDraft" /></span>
                <br />
                <input value="Take Screenshot" type="button" @onclick="takeScreenshot" />

                <SplitControlPanel Team="@currentUser.Team" Lobby="@Lobby" Disabled="@(!currentUser.HasTeamPermission)"/>
                @if (Lobby.RaceCategory != null) {
                    <input type="button" value="Split Overview" onclick="@GoToSplitOverview"/>
                    <a href="@("/lobby/" + Lobby.LobbyId + "/splits")" target="_blank"> In new Tab</a>
                }
            </div>
            @if (userIsHost()) {
                <div class="Panel">
                    <HostControlPanel Lobby="@Lobby"/>
                </div>
            }
        </div>

        <hr/>

        <div class="d-flex flex-row Panel justify-content-between">
            @* Give the User an option to create a Team if they are not part of one, or are a spectator. *@
            @if (currentUser.Team == null || currentUser.Team.Name.Equals(Team.SPECTATOR)) {
                <div class="Panel">
                    <span>You're currently not a member of any Team, do you want to create one?</span><br />
                    <label>Team Name: </label>
                    <input style="max-width: 250px" id="teamNameInputText" type="text" @bind="ChosenTeamName"/>
                    <input style="max-width: 250px" type="button" value="Create Team" class="btn btn-light" @onclick="() => createTeam()"/>
                </div>
            } else {
                <TeamList Team="@currentUser.Team" RenderForTeamCreator="@currentUser.IsCreatorOfTeam()" lambda="@(() => Lobby.SwitchTeam(currentUser, Team.SPECTATOR))" JoinType="TeamJoinType.LEAVE"/>
                <TimerControlPanel Disabled="@(!currentUser.HasTeamPermission)" timerData="@currentUser.Team.TimerData" Lobby="@Lobby"/>
            }
            <div class="PanelWithLeftBorder d-flex flex-row" style="margin-right: 20px">
                <OBSLinkPanel Lobby=@Lobby CustomOrder="@CustomOrder" LinkType="@LINK_TYPE_TIMER"/>
                <OBSLinkPanel Lobby=@Lobby CustomOrder="@CustomOrder" LinkType="@LINK_TYPE_DRAFT" />
            </div>
        </div>

        <hr/>

        <div class="d-flex flex-row">
            @* Panel showing all the Spectators *@
            <TeamList Team="@Lobby.GetSpectatorTeam()" lambda="@(() => Lobby.SwitchTeam(currentUser, Team.SPECTATOR))" JoinType="TeamJoinType.NONE"/>
            @* Panel showing all the Teams except the users own with their members *@
            @foreach (var Team in GetParticipatingTeamsExceptOwn()) {
                <TeamList Team="Team" lambda="@(() => Lobby.SwitchTeam(currentUser, Team.Name))" JoinType="TeamJoinType.JOIN"/>
            }
        </div>

        <hr/>

    } else {
        <h2>Not currently in a Lobby, try joining one :)</h2>
    }

</div>

<ModalDialog @ref="SplitOverviewModal" Title="Split Overview">
    <SplitOverview Lobby="Lobby"/>
</ModalDialog>

@code {
    public Lobby? Lobby = null;
    protected User? currentUser;
    protected String? ChosenTeamName;
    private Timer Timer;
    private List<Team> TimerReferences = new List<Team>();
    private bool DisplayDraft = true;
    private ModalDialog SplitOverviewModal;

    /// <summary>
    /// Custom property getter used for encoding the order of timers into the OBS Link
    /// </summary>
    private String CustomOrder {
        get {
            String a = "";
            foreach (Team timer in TimerReferences) {
                if (TimerReferences.IndexOf(timer) != 0) {
                    a += "-";
                }
                a += timer.Index;
            }
            return a;
        }
    }

    private List<Team> GetTimersToDisplay() {
        if (TimerReferences.Count != Lobby.GetParticipatingTeams().Count()) {
            TimerReferences = Lobby.GetParticipatingTeams();
        }
        return TimerReferences;
    }


    protected override async Task OnAfterRenderAsync(bool firstRender) {
        if (Lobby != null && currentUser != null && !currentUser.wasRedirectedToDraft &&
        !(new List<DraftFlowState> { DraftFlowState.NOT_STARTED, DraftFlowState.DRAFTING_FINISHED }.Contains(Lobby.DraftState.FlowState))) {
            NavigationManager.NavigateTo("/draft");
            currentUser.wasRedirectedToDraft = true;
            return;
        }

        if (!firstRender) {
            // To identify whether a lobby is still active, or I can deploy an update via the Lobby Selector page
            if (Lobby != null) {
                Lobby.LastActivity = DateTime.Now;
            }
            return;
        }

        Lobby = await getStoredLobby();
        currentUser = await getStoredUser();
        if (Lobby == null || currentUser == null) {
            await BrowserStorage.DeleteAsync("currentLobby");
            return;
        }
        ChosenTeamName = currentUser.Name;
        if (!Lobby.PeriodicalTimer.Enabled) {
            Lobby.PeriodicalTimer.Start();
        }
        Lobby.Subscribe((source, e) => NotifyStateHasChanged());
    }

    private void NotifyStateHasChanged() {
        InvokeAsync(() => StateHasChanged());
    }

    /// <summary>
    /// Get the LobbyId from the Local Storage
    /// </summary>
    /// <returns></returns>
    private async Task<Lobby?> getStoredLobby() {
        var storedLobby = await BrowserStorage.GetAsync<Guid>("currentLobby");
        Guid? currentLobbyId = storedLobby.Value;
        if (currentLobbyId == null) {
            return null;
        }

        // if the data of the Locally stored lobby is no longer present, 
        // then remove the locally saved Lobby id and switch to the main page
        return LobbyHolder.Instance.getLobby((Guid) currentLobbyId);
    }

    /// <summary>
    /// Get the User from the Local Storage
    /// </summary>
    /// <returns></returns>
    private async Task<User?> getStoredUser() {
        var storedUser = await BrowserStorage.GetAsync<Guid>("user");
        Guid? currentUser = storedUser.Value;
        if (currentUser == null) {
            return null;
        }

        // if the data of the Locally stored lobby is no longer present, 
        // then remove the locally saved Lobby id and switch to the main page
        return UserHolder.Instance.GetUserById((Guid) currentUser);
    }


    private async void leaveLobby() {
        Lobby? lobby = await getStoredLobby();
        var savedUser = await BrowserStorage.GetAsync<Guid>("user");
        User? user = UserHolder.Instance.GetUserById(savedUser.Value);
        if (lobby == null || user == null) {
            return;
        }
        lobby.LeaveLobby(user);
        await BrowserStorage.DeleteAsync("currentLobby");
        await BrowserStorage.DeleteAsync("user");
        NavigationManager.NavigateTo("/timer");
    }

    /// <summary>
    /// Create a Team for the current user
    /// </summary>
    private void createTeam() {
        if (ChosenTeamName == null || Lobby == null || currentUser == null) {
            return;    
        }

        Lobby.SwitchTeam(currentUser, ChosenTeamName);
    }

    /// <summary>
    /// Returns wether the current user is the lobby host.
    /// </summary>
    /// <returns></returns>
    private bool userIsHost() {
        return currentUser != null && Lobby != null && currentUser.Equals(Lobby.Owner);
    }

    /// <summary>
    /// Get all teams except the one of the current user
    /// </summary>
    /// <returns></returns>
    private List<Team> GetParticipatingTeamsExceptOwn() {
        if (Lobby == null || currentUser == null) {
            return [];
        }

        List<Team> teams = new List<Team>(Lobby.GetParticipatingTeams());
        teams.Remove(currentUser.Team);
        return teams;
    }


    public async void GenerateInviteLink() {
        String link = NavigationManager.BaseUri+"timer/lobby/"+Lobby.LobbyId+"/";
        // Don't worry about the name of the JS Function, I could not get it to work any other way. This is dogshit
        await JSRuntime.InvokeVoidAsync("copyToClipboard.ShowMsg", link);
    }

    private async void takeScreenshot() {
        await JSRuntime.InvokeVoidAsync("window.takeScreenshot", "TeamTimersPanel");
    }

    public void Dispose() {
        if (Lobby != null) {
            Lobby.PeriodicalTimer.Elapsed -= ((source, e) => NotifyStateHasChanged());
        }
    }

    private void GoToSplitOverview() {
        SplitOverviewModal.showDialog();
    }

}